<!DOCTYPE html>
<html>
<head>

    <h1>About Us </h1>

    <link rel='stylesheet' href='/stylesheets/style.css' />


</head>

<body>

<a class="item" href="/">Home</a> -
<a class="item" href="/cat/aboutus">About Us</a>

<div id="wrapper">
    <div id="menu">



        </div>
        <div id="content">




            <form>


                <p> The Purpose of this forum is a place where people can hold anything technology related discussions.
                    <br>
                    <br>
                    Creator : Jonathan Lam CS 355
                    <br>
                    <br>
                    Company: The Forum

                    <br>
                    <br>
                    Contact Info: TheForum@sonoma.edu


                </p>
            </form>

            <form>




            </form>





            <h2>ER Diagram</h2>
            <img src="http://i.imgur.com/jMnqA5a.png" alt=" ER diagram" style="width:750px;height:400px;">


            <h2>ER Diagram</h2>
            <img src="http://i.imgur.com/2Hcdnmp.png" alt=" ER diagram" style="width:750px;height:400px;">

</body>
</html>


</body>

</html>
